

.modal-media {
  display: flex;
  justify-content: center;
  position: relative;
  height: auto;
  width: 666px;
  z-index: 1051;

  @media screen and (max-width: 767.98px) {
    max-width: 100%;
    min-width: 300px;
    height: auto;
  }

  @media screen and (max-width: 575.98px) {
    z-index: 1053 !important;
  }

  @media screen and (max-width: 359.98px) {
    display: none;
  }
}

.modal-media ::ng-deep img {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  position: absolute;
  top: 15%;
  width: 100%;
  height: auto;

  @media screen and (max-width: 1139.98px) {
    top: 10%;
  }

  @media screen and (max-width: 767.98px) {
    top: 0;
  }

  @media screen and (max-width: 575.98px) {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.18),0 1px 1px 0 rgba(0,0,0,0.15) !important;
  }
}

.modal-media ::ng-deep iframe {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  max-width: 100%;

  @media screen and (max-width: 575.98px) {
    top: -5%;
    max-height: 225px;
  }
}

.modal-dialog {
  pointer-events: inherit !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 991.98px) {
    top: 0%;
    bottom: 5%;
  }

  @media screen and (max-width: 767.98px) {
    top: 10%;
  }

  @media screen and (max-width: 575.98px) {
    top: 5%;
  }
  z-index: 1051;
}

.modal-content {
  border: none;
  border-radius: 0.1rem;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  position: relative;
  width: 100%;
  z-index: 1055;

  @media screen and (max-width: 575.98px) {
    font-size: 14px;
    box-shadow: none !important;
    top: -1px;
  }
}

.modal-header {
  border-bottom: none;
  @media screen and (max-width: 575.98px) {
    border-radius: 0;
  }
}

.modal-footer {
  border-top: none;
  @media screen and (max-width: 575.98px) {
    border-radius: 0;
  }
}
