.filter-wrap {
  position: relative;
  white-space: nowrap;

  .filter {

    cursor: pointer;
    font-size: 8px;
    font-weight: 400;
    padding: 0 20px;
    transition: all 0.2s;

    @media screen and (min-width: 576px) {
      margin: 0 15px;
      padding: 0 30px;
    }

    @media screen and (min-width: 992px) {
      font-size: 14px;
      padding: 0 40px;
      margin: 0 25px;
    }
  }

  .float-bar {

    display: block;
    bottom: 0;
    position: absolute;
    top: 0;
    background: #e31b6d;
    border-radius: 1px;
    height: 30px;
    margin: auto 0;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s ease-in-out;
  
    .float-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      bottom: 0;
      position: absolute;
      top: 0;
      margin: auto 0;
      transition: left 0.5s ease-in-out;
  
  
      .filter {
        color: white;
      }
    }
  }
}