.color-secondary {
  background-color: #fffbf0;
}

.year-section {
  color: #616161;

  a {
    font-weight: 500;
    color: #00a1a7;
  }

  .year {
    color: #444964;
    font-weight: 400;
  }

  .title {
    font-size: larger;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  .role {
    font-size: large;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0.5em;
  }

  .aside {
    font-size: smaller;
    border-left: 2px solid #04c2c9;
    padding-left: 10px;
    // padding-bottom: 20px;
    font-weight: 300;
  }
  ul {
    list-style: circle;

    li {
      overflow-wrap: break-word;
    }
  }
}
