
<div class="tiemline-container">
  <div class="row year-section">
    <div class="col-xs-12 col-md-2">
      <div class="pull-right year">2018-2019</div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-7">
      <div class="big">Vattenfall</div>
      <div class="big">DevOps / Front-End Engineer</div>
      <p class="text-secondary">
        At Vattenfall I was part of the rebranding project from Nuon to Vattenfall.
        As a team, we were responsible for the end-to-end solution of the self-service portal of all digital customers.
      </p>

    </div>
    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="aside">
        <ul>
          <li>Migration AngularJS stack to Angular 6+</li>
          <li>Redesign pages to new design and functional requirements</li>
          <li>Contribute to Vattenfall Component Library</li>
          <li>Release bi-weekly iterations via Azure DevOps</li>
        </ul>
      </div>    
    </div>
  </div>
</div>