
<div class="container py-4">
  <div class="row year-section">
    <div class="col-xs-12 col-md-2">
      <div class="pull-right year">Nov. 2020 - Current</div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-7">
      <div class="big title">Thuisleefgids</div>
      <div class="big role">Front-End Developer</div>
      <p class="text-secondary">
        Part of a small scrumteam of developers and PO responsible for the main proposition 'Thuisleefwijzer':
      </p>
      <p>
        A web application which links products from suppliers and services from health care agencies and municipalities with advice blogs from health professionals,
        alongside admin portals for colleagues and clients and a portal where third parties can submit their products and services.
      </p>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="aside">
        <ul>
          <li>Building and maintaining main applications in React</li>
          <li>Building component library with Storybook for 3 different admin portals</li>
          <li>Coaching junior front-end developer</li>
          <li>Learning back-end development in .NET-CORE</li>
          <li>Release bi-weekly iterations via Azure DevOps</li>
        </ul>
      </div>    
    </div>
  </div>
</div>

<div class="container-fluid color-secondary py-4">
  <div class="container">
    <div class="row year-section">
      <div class="col-xs-12 col-md-2">
        <div class="pull-right year">Jan. 2020 - Mar. 2020</div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-7">
        <div class="big title">Self</div>
        <div class="big role">Front-End Developer</div>
        <p class="text-secondary">
          Creating and hosting two personal websites.
        </p>
        <p class="text-secondary">
          <strong>Record label: </strong><a href="http://www.delver-music.com">http://www.delver-music.com</a>
        </p>
        <p class="text-secondary">
          <strong>Personal website: </strong><a href="http://www.workwithreinald.com">http://www.workwithreinald.com</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="aside">
          <ul>
            <li>Dynamic HTML/CSS websites</li>
            <li>Built with Angular Web Components</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row year-section">
    <div class="col-xs-12 col-md-2">
      <div class="pull-right year">Sept. 2018 - Dec. 2019</div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-7">
      <div class="big title">Vattenfall</div>
      <div class="big role">DevOps / Front-End Engineer</div>
      <p class="text-secondary">
        At Vattenfall I was part of the rebranding project from Nuon to Vattenfall.
        As a team, we were responsible for the end-to-end solution of the self-service portal of all digital customers.
      </p>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="aside">
        <ul>
          <li>Migration AngularJS stack to Angular 6+</li>
          <li>Redesign pages to new design and functional requirements</li>
          <li>Contribute to Vattenfall Component Library</li>
          <li>Release bi-weekly iterations via Azure DevOps</li>
        </ul>
      </div>
    </div>
  </div>
</div>