
  <div class="proficiency">
    <div class="row align-content-center mb-2">
      <div class="col-md-6" style="display: inline-grid;">
        <p class="text-primary">In my opinion, application should provide a simple, effective user experience, be memorable, performant and work on all devices.
          I like to work with designers who provide clean and intuitive designs, and team up to create this experience for the end user.
        </p>
        <p class="text-primary">
          Recently I've started learning more about web animation and would love to apply this in a professional environment.
        </p>
        <p class="text-primary">
          I'm a firm believer that good code is easy to read for other developers, easily testable and tested!
        </p>
      </div>
      <div class="col-md-6 bars-wrap">
        <app-bar *ngFor="let skill of skills; index as i" [name]="skill.name" [width]="skill.percentile" [index]="i"></app-bar>
      </div>    
    </div>
  </div>
