
  <div class="proficiency">
    <div class="row align-content-center mb-2">
      <div class="col-md-6" style="display: inline-grid;">
        <p class="text-secondary">Websites should be fast for the best user experience and work on all devices.
          I strongly prefer to work with designers who provide clean and intuitive designs. Depending if it fits the project, a dynamic touch
          can bring a website to life!
        </p>
        <p class="text-secondary">
          For large scale projects where a lot of data transformations happen, a TDD approach and good code coverage on unit and integration tests is vital to me.
        </p>
      </div>
      <div class="col-md-6 bars-wrap">
        <app-bar *ngFor="let skill of skills; index as i" [name]="skill.name" [width]="skill.percentile" [index]="i"></app-bar>
      </div>    
    </div>
  </div>
