
  <div class="proficiency">
    <div class="row align-content-center mb-2">
      <div class="col-md-6" style="display: inline-grid;">
        <p class="text-secondary">For the best user experience, an application should be fast and work on all devices.
          I strongly prefer to work with designers who provide clean and intuitive designs, and team up with developers to keep each other sharp.
          <br/>
          Recently I've started learning more about web animation and would love to apply this in a professional environment.
        </p>
        <p class="text-secondary">
          For large scale projects where a lot of data transformations happen, a TDD approach and good code coverage on unit and integration tests is vital to me.
        </p>
      </div>
      <div class="col-md-6 bars-wrap">
        <app-bar *ngFor="let skill of skills; index as i" [name]="skill.name" [width]="skill.percentile" [index]="i"></app-bar>
      </div>    
    </div>
  </div>
